<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p><%= @inviter.name %> has invited you to <span style="font-weight: bold">collaboratively edit</span> the following map on Metamaps:</p>
    <p style="font-weight: bold;"><%= link_to @map.name, @url %></p>

    <p style="font-size: 11px;">Make sense with Metamaps</p>
  </body>
</html>
